body{
	display: flex;
	justify-content: center;
	background-color: beige;
}
.container-main{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width:600px;
	background-color: lightsalmon;
	box-shadow: 8px 3px 3px black
}
header{
	display: flex;
	width: 600px
	height:200px;
	font-size: 48px;
	justify-content:center;
}

.container-form{
	width: 600px;
}

.container-region{
	display: flex;
	background-color: lightgray;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//border: 5px solid lightgray;
	//border-style: groove;
	box-shadow: 7px 3px 10px black;
	width:300px;
	opacity: 0.85;
}

.container-menu{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 600px;
	background-color: black;
}
.btn-add-place{
	width: 147px;
	font-size:18px;
}
.btn-update{
	width: 147px;
	font-size:18px;
}
.btn-delete{
	width: 147px;
	font-size:18px;
}
.btn-select{
	width: 147px;
	font-size:18px;
}


.create-region-make{
	width:600px;
	/*height:100px;*/
}

.description{
	display:flex;
	width:300px;
	justify-content:center;
	flex-wrap:wrap;
}

.desc-text{
	width:250px;
	height:100px;
	
}

.display-data-item{
/* 	display: flex; */
/* 	justify-content: center; */
/*  	flex-direction: column; */
	font-size:32px;
	width:300px
/*  	flex-wrap:wrap; */
 	opacity: 1.0;

}
.container-region-menu{
/* 	display:flex; */
	width:300px
/* 	flex-direction:center; */
/* 	justify-content:center */
/* 	flex-direction:center; */
}
.create-region-make{
	width:596px;
}
.region-make{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	width:300px;
}
.update-obj{
	display:flex;
	width:300px;
	justify-content:center;
	flex-wrap:wrap;
}
